/* ############## SCROLL BAR ############ */
::-webkit-scrollbar {
    width: 5px;
    border-radius:10px ;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
    padding: 8px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #c1c0c0;
    border-radius:10px ;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background:#c1c0c0;
    border-radius:10px ;

  }

  /* ############### END SCROLLBAR ############### */